# Build results
bin/
obj/

# Visual Studio / Rider
*.user
*.suo
*.userprefs
.vs/

# Publish output
publish/
*.log

# Visual Studio upgrade logs
UpgradeLog*.htm

# NuGet
*.nupkg
.vs/

# Rider
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
